@import "../../../assets/sass/utils/variables";
@import "../../../assets/sass/components/card";

#galleriesPage {
  .headerText {
    h2 {
      font-weight: 700 !important;
    }
  }
  .image {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 55vw;
    }
  }

  .cards {
    @extend %icon-card;
  }
}
