@import "../../../assets/sass/components/button";

#login {
  display: flex;
  .left {
    background-image: url("../../../assets/images/login-background.jpg");
    width: 60vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 600px) {
      display: none;
    }

    .text {
      margin-top: 28%;
      h2 {
        margin: 0 auto;
        width: 40%;
        color: white;

        span {
          font-weight: 900;
        }
      }

      p {
        width: 40%;
        margin: 0 auto;
        color: white;
      }
    }
  }

  .right {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-top: 35%;
    }

    form {
      width: 300px;

      input {
        margin-top: 20px;
        border: 1px solid grey;
        width: 100%;
        padding: 8px;
      }

      div {
        color: red;
      }

      button {
        @extend %secondary-button;
        display: inline-block;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.loader {
  width: 10px;
  height: 10px;
  margin: 6px;
  border-radius: 50%;
  display: block;
  color: #fff;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}
