@import "../../../assets/sass/components/button";

#dashboard {
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    p {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
    nav {
      padding: 0 1%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
          width: 50%;
        }
        a {
          width: fit-content;
        }

        @media only screen and (max-width: 767px) {
          display: flex;
          align-items: center;
        }

        .fa-bars {
          display: none;
          font-size: 22px;
          color: grey;

          @media only screen and (max-width: 767px) {
            display: flex;
          }
        }
      }

      .navigator {
        display: flex;
        align-items: center;

        p {
          padding-right: 10px;

          &:hover {
            color: black;
          }

          @media only screen and (max-width: 1024px) {
            &.pricing {
              display: none;
            }
          }
        }

        a {
          @extend %pricing-button;
          display: inline-block;
          padding: 8px;
          width: 85px;
          line-height: 18px;
          letter-spacing: 1px;
          text-align: center;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          font-weight: 700;
          font-size: 12px;
          border-radius: 5px;
          &:hover {
            background-color: green;
          }

          @media only screen and (max-width: 900px) {
            display: none;
          }
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-left: 25px;
          text-align: start;

          @media only screen and (max-width: 900px) {
            h6 {
              display: none;
            }
            p {
              display: none;
            }
          }

          h6 {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
          }
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .chakra-menu__menu-list {
    i,
    span {
      margin-top: 8px;
    }
    i {
      width: 30px;
    }
  }

  .leftNav {
    margin-top: 60px;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: fixed;
    height: 100vh;
    left: 0;

    &:hover {
      .textNav {
        display: block;
      }

      .whatsNew {
        h5 {
          display: inline-block;
        }
      }
    }

    .whatsNew {
      display: flex;
      margin-top: calc(100vh - 450px);
      align-items: center;

      &:hover {
        background-color: #f8eede;
        cursor: pointer;
      }

      .fa-bell {
        font-size: 24px;
        width: 50px;
        padding: 20px 15px;
      }

      h5 {
        display: none;
      }
    }

    a,
    .studio {
      display: flex;
      align-items: center;
      padding: 15px;

      &:hover {
        background-color: #f5f1ec9b;
      }

      i {
        font-size: 24px;
        width: 30px;
      }
      .textNav {
        display: none;
        padding-left: 20px;

        .studioNav {
          display: none;
        }
      }

      &.active {
        background-color: #f8eede;
      }
    }
  }
}
