#wishListPage {
  .cancelBtn {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 2%;
    button {
      background-color: aliceblue;
      border-radius: 10px;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      padding: 5px;
      width: 80px;
    }
  }

  .lenghth2 {
    color: teal;
    font-size: 35px !important;
  }

  .galleriesSend {
    padding: 10px;
    color: white;
    background-color: teal;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.5s;
    margin: 0 auto;
    margin-top: 40px;

    i {
      transition: all 0.5s;
      padding-left: 10px;
    }

    &:hover {
      background-color: rgba(0, 128, 128, 0.875);
      i {
        padding-left: 20px;
      }
    }
  }

  .sliceButton {
    display: block;
    margin: 0 auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    transition: all 1s;

    &:hover {
      background-color: aliceblue;
    }
  }
  .gallery {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 2%;
    gap: 20px;
    width: 100%;

    @media only screen and (max-width: 425px) {
      width: 340px !important;
    }

    .imageCard {
      .card {
        padding: 5px;
        background-color: aliceblue;
        width: 260px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10px;

        // @media only screen and (max-width: 425px) {
        //   width: 340px !important;
        // }

        // @media only screen and (max-width: 425px) {
        //   width: 340px !important;
        // }

        img {
          height: 190px;
          width: 100%;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          transition: all 0.8s;

          // @media only screen and (max-width: 425px) {
          //   height: 220px !important;
          // }

          &:hover {
            transform: translateY(-10px);
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
          }
        }
        .text {
          text-align: center;
          padding: 6px 0;

          p {
            font-family: "Poppins", sans-serif;
            font-size: 14px;

            em {
              font-weight: 700;
            }
          }
        }

        // @media only screen and (max-width: 900px) {
        //   width: 100%;
        // }
      }
    }
  }
}
