.headerText {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 0;
  font-family: "Playfair Display", serif;

  @media only screen and (max-width: 900px) {
    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }

  a {
    color: black;
  }
  p {
    font-size: 16px;
  }
}
