@import "../utils/variables";

h1 {
  font-size: 54px !important;
  font-weight: 400 !important;
  margin: 0;
}
h2 {
  font-size: 48px !important;
  font-weight: 400 !important ;
  margin: 0;
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 40px !important;
  font-weight: 400 !important;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $secondary-color;
}
