@import "../utils/variables";

h1 {
  font-size: 54px !important;
  font-weight: 400 !important;
  margin: 0;

  @media only screen and (max-width: 425px) {
    font-size: 40px !important;
  }
}
h2 {
  font-size: 48px !important;
  font-weight: 400 !important ;
  margin: 0;
  font-family: "Playfair Display", serif;

  @media only screen and (max-width: 768px) {
    font-size: 28px !important;
  }
}
h3 {
  font-size: 40px !important;
  font-weight: 400 !important;
  margin: 0;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: $secondary-color;

  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}
