@import "../../../assets/sass/utils/variables";

#chakra-modal--body-deleteModal {
  max-height: 66px !important;
}
.alert {
  max-height: 0;
}
#galleryDetail {
  background-color: $adminBackgroundColor;

  .galleryImage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;

    .galleryName {
      .image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .userData {
          display: flex;
          align-items: center;
          gap: 30px;

          img {
            width: 24%;
            height: 100px;
            border-radius: 50%;
          }

          h2 {
            font-weight: 700 !important;
            font-size: 32px !important;
            line-height: 38.4px;
            color: #468ac0;
            letter-spacing: 1px;
            font-family: "Roboto", sans-serif;
          }
        }

        .publishAndShare {
          display: flex;
          align-items: center;
          gap: 40px;

          button {
            background-color: #3fc380;
            padding: 12px;
            color: white;
            border-radius: 8px;
          }
        }
      }
    }

    .operationNav {
      display: flex;
      width: fit-content;
      gap: 40px;
      margin: 15px 0;

      i {
        padding-right: 10px;
      }

      .upload,
      .trash,
      .editBar {
        padding: 10px 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: grey;
      }

      .upload {
        color: #3fc380;
      }
    }

    .draggableGallery {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .imageDiv {
        width: fit-content;
        height: fit-content;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: white;
        border-radius: 10px;

        img {
          padding: 10px;
          max-width: 240px;
        }
      }
    }
  }
}

.coverImage {
  border: 1px dashed grey;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
