@import "../../../assets/sass/utils/variables";
@import "../../../assets/sass/components/button";

#chakra-modal--body-deleteModal {
  max-height: 66px !important;
}
.alert {
  max-height: 0;
}
.chakra-modal__body {
  form {
    width: 100% !important;
  }
}
#galleryDetail {
  background-color: $adminBackgroundColor;
  .galleryImage {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    @media only screen and (max-width: 767px) {
      padding: 80px 10px;
    }

    .galleryName {
      .fa-pen-to-square {
        color: rgb(156, 155, 155);
        font-size: 20px;
        cursor: pointer;
      }
      .image {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media only screen and (max-width: 960px) {
          flex-direction: column;

          .userData {
            flex-direction: column;
            width: 90%;

            img {
              border-radius: 0% !important;
              width: 100% !important;
              height: 500px !important;
            }
          }
        }

        @media only screen and (max-width: 767px) {
          .userData {
            width: 100%;

            img {
              border-radius: 0% !important;
              width: 100% !important;
              height: 400px !important;
            }
          }
        }

        @media only screen and (max-width: 425px) {
          .userData {
            width: 100% !important;

            img {
              border-radius: 0% !important;
              width: 100% !important;
              height: 310px !important;
            }
          }
        }

        .userData {
          display: flex;
          align-items: center;
          gap: 30px;

          img {
            cursor: pointer;
            width: 120px;
            height: 115px;
            border-radius: 50%;
          }

          h2 {
            font-weight: 700 !important;
            font-size: 32px !important;
            line-height: 38.4px;
            color: #468ac0;
            letter-spacing: 1px;
            font-family: "Roboto", sans-serif;
          }
        }

        .publishAndShare {
          display: flex;
          align-items: center;
          gap: 40px;

          button {
            background-color: #3fc380;
            padding: 12px;
            color: white;
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            width: 150px;

            &:hover {
              background-color: #35ba77;
            }
          }

          .share {
            button {
              background-color: grey;
              width: 120px;

              &:hover {
                background-color: rgb(156, 155, 155);
              }
            }
          }
        }
      }
    }

    .operationNav {
      display: flex;
      width: fit-content;
      gap: 40px;
      margin: 15px 0;

      i {
        padding-right: 10px;
      }

      .upload,
      .trash,
      .editBar {
        padding: 10px 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        color: grey;
      }

      .upload {
        color: #3fc380;
      }
    }

    .draggableGallery {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .grid-container {
      columns: 5 200px;
      column-gap: 1.5rem;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .draggableGallery {
        width: 150px;
        margin: 0 1.5rem 1.5rem 0;
        display: inline-block;
        width: 100%;
        border: solid 2px black;
        padding: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        cursor: pointer;

        .fa-trash,
        .fa-comments,
        .fa-cloud-arrow-down {
          position: absolute;
          bottom: 10px;
          left: 10px;
          display: none;
          color: grey;

          pre {
            display: inline;
            font-size: 16px;
            padding-left: 5px;
          }

          &:hover {
            color: red;
          }
        }

        #noNone {
          display: inline;
          color: white;

          &:hover {
            color: red;
          }
        }

        .fa-cloud-arrow-down {
          left: 70px;
        }

        .left {
          margin-left: 25px;
        }

        &:hover {
          border-color: coral;
          .fa-trash,
          .fa-comments,
          .fa-cloud-arrow-down {
            display: inline;
          }
        }

        img {
          width: 100%;
          border-radius: 5px;
          transition: all 0.25s ease-in-out;
        }
        p {
          margin: 5px 0;
          padding: 0;
          text-align: center;
          font-style: italic;
        }
      }
    }

    // .draggableGallery {
    //   display: flex;
    //   flex-wrap: wrap;
    //   gap: 10px;

    //   .imageDiv {
    //     width: fit-content;
    //     height: fit-content;
    //     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    //     background-color: white;
    //     border-radius: 10px;

    //     img {
    //       padding: 10px;
    //       max-width: 240px;
    //     }
    //   }
    // }
  }
}

.coverImage {
  border: 1px dashed grey;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentModal {
  .commentsText {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modalTrash {
      cursor: pointer;
      display: none;
    }

    &:hover {
      .modalTrash {
        display: inline !important;
      }
    }
    p {
      padding-top: 10px !important;
      font-size: 16px;
    }

    h6 {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

.commentModalFooter {
  .addComment {
    width: 100%;

    .commentName {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
      background-color: #468ac0;
      padding: 10px 0;
      width: 120px;
      border-radius: 10px;

      &.closeBtnComment {
        background-color: cadetblue;
        margin-left: 120px;
      }
    }
  }
}
