@import "../../../assets/sass/utils/_variables.scss";
@import "../../../assets/sass/components/button";

.about {
  background-color: $adminBackgroundColor;
  #aboutMePage {
    padding: 80px;
    max-width: 1200px;
    margin: 0 auto;

    @media only screen and (max-width: 767px) {
      width: 100% !important;
      padding: 80px 0 20px 0;
    }

    .aboutHeader {
      h2 {
        font-weight: 700 !important;
        font-size: 32px !important;
        line-height: 38.4px;
        color: rgb(51, 51, 51);
        letter-spacing: 1px;
        font-family: "Roboto", sans-serif;
      }
      @media only screen and (max-width: 900px) {
        padding: 0 25px;
      }
    }

    .contactInformation {
      margin-top: 30px;
      padding: 20px;
      width: 80%;

      @media only screen and (max-width: 900px) {
        width: 100% !important;
      }

      @media only screen and (max-width: 900px) {
        padding: 0 25px;
      }

      .contactHeader {
        padding-bottom: 40px;

        h4 {
          font-weight: 600 !important;
          color: rgb(68, 68, 68) !important;
          line-height: 19.2px;
        }
      }

      .contactFill {
        background-color: #ffffff;
        padding: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        @media only screen and (max-width: 900px) {
          width: 100% !important;
        }

        .changePassword {
          display: flex;
          gap: 30px;

          @media only screen and (max-width: 767px) {
            flex-direction: column;

            .image {
              width: 30%;
            }

            .userInformation {
              width: 100%;
            }
          }

          @media only screen and (max-width: 380px) {
            .image {
              width: 65%;
            }
          }
        }

        .image {
          width: 20%;
          height: 140px;
          position: relative;
          border-radius: 50%;

          p {
            position: absolute;
            top: 40%;
            left: 6%;
            font-weight: 900;
            cursor: pointer;
          }

          img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
              border: 2px solid grey;
            }
          }
        }

        .userInformation {
          width: 75%;

          form {
            .inputs {
              display: flex;
              gap: 20px;

              @media only screen and (max-width: 767px) {
                flex-direction: column;
              }
            }

            .changeEmail {
              p {
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
              }

              .email {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                @media only screen and (max-width: 500px) {
                  input {
                    width: 100% !important;
                  }
                }

                input {
                  width: 74%;
                }

                span {
                  font-size: 16px;
                  line-height: 20px;
                  cursor: pointer;
                }
              }
            }
            button {
              @extend %primary-button;
              border-radius: 0%;
              width: 100px;
            }
          }
          .changePassword {
            padding-top: 25px;
            display: block;

            p {
              font-size: 13px;
              color: rgb(117, 117, 117);
              line-height: 20px;
            }

            h6 {
              padding-top: 5px;
              width: fit-content;
              cursor: pointer;
              font-size: 16px;
              color: rgb(13, 110, 253);
              line-height: 20px;
            }
          }
        }
      }

      .sendingEmail {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 40px;
        padding: 30px;
        background-color: #ffffff;

        .emailHeader {
          h5 {
            font-size: 16px;
            color: rgb(68, 68, 68);
            line-height: 19.2px;
            font-weight: 600;
          }
        }

        .sendingEmailText {
          padding-top: 30px;
          p {
            font-size: 16px;
            color: rgb(119, 119, 119);
            line-height: 20px;
            &.addEmail {
              padding-top: 15px;
              span {
                color: rgb(13, 110, 253);
                cursor: pointer;
              }
            }
          }
        }

        .addedEmail {
          padding: 20px 0;
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-wrap: wrap;

          &:hover {
            background-color: #f5f6fa;
          }

          .icon {
            text-align: center;
            color: #00b16a;

            i {
              font-size: 20px;
            }
            p {
              color: #00b16a;
              font-size: 13px;
            }
          }

          .aboutUserEmail {
            display: flex;
            gap: 35px;

            .aboutEmail {
              h6 {
                font-weight: 700;
                font-size: 13px;
                color: rgb(51, 51, 51);
              }

              p {
                font-size: 13px;
                line-height: 20px;
                padding-top: 2px;

                &.email {
                  color: rgb(13, 110, 253);
                  cursor: pointer;
                }
              }
            }
          }
          span {
            color: rgb(119, 119, 119);
            cursor: pointer;
            font-size: 12px;
          }
        }

        .addedBtn {
          padding: 3% 0;
          margin-top: 1%;

          &:hover {
            background-color: #f5f6fa;
          }
          button {
            background-color: #eeeeee;
            padding: 8px 5px;
            width: 150px;
            margin-left: 25%;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            color: rgb(119, 119, 119);
            transition: all 0.3s;

            @media only screen and (max-width: 340px) {
              margin-left: 18%;
            }

            &:hover {
              background-color: rgb(230, 224, 224);
            }
          }
        }
      }

      .emailSignature {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin-top: 40px;
        padding: 30px;
        background-color: #ffffff;

        .textarea {
          p {
            padding: 10px 0 5px 0;
            font-size: 13px;
            line-height: 20px;
            color: rgb(117, 117, 117);
          }

          textarea {
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            height: 100px;
            border: 1px solid grey;
          }
        }

        button {
          @extend %primary-button;
          border-radius: 0%;
          width: 100px;
          padding: 8px 0 !important;
        }
      }
    }
  }
}
.chakra-modal__body {
  p {
    font-size: 12px;
    padding-top: 20px;
  }
}
